.container{
    
    font-family:Cambria, Cochin,  Times, serif;
    border-bottom: 3px sloid black;
    display:inline-block;

}

.data
{
    margin:auto;    
    width:30%;
}
h2{
    color:rgba(0, 0, 0, 0.8);
}
p{
    
    color:rgba(0, 0, 0, 0.6);
}
